---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <div class="post-item">
          {%- if post.categories.size > 0 -%}
          <div class="post-categories">
            {%- for category in post.categories -%}
              <span class="category-tag">{{ category }}</span>
            {%- endfor -%}
          </div>
          {%- endif -%}
          
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%Y年%m月%d日" }}
            </time>
          </div>
          
          {%- if post.description -%}
            <p class="post-excerpt">{{ post.description }}</p>
          {%- elsif post.excerpt -%}
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
          {%- endif -%}
          
          <a href="{{ post.url | relative_url }}" class="read-more">阅读全文 →</a>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>

